{% extends "base.html" %}
{% block content %}
<h2>Appointments</h2>
<a href="/appointments/create">Create appointment</a>
<table border="1" cellpadding="6">
<tr><th>ID</th><th>Caregiver</th><th>Member</th><th>Date</th><th>Time</th><th>Hours</th><th>Status</th><th>Actions</th></tr>
{% for a in appointments %}
<tr>
  <td>{{ a.appointment_id }}</td>
  <td>{{ a.caregiver_name }}</td>
  <td>{{ a.member_name }}</td>
  <td>{{ a.appointment_date }}</td>
  <td>{{ a.appointment_time }}</td>
  <td>{{ a.work_hours }}</td>
  <td>{{ a.status }}</td>
  <td><a href="/appointments/delete/{{ a.appointment_id }}" onclick="return confirm('Delete?')">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
